# Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from folder data

### Step 3. Assign it to a variable called euro12.

In [3]:
url = "./TEAM.csv"
euro12 = pd.read_csv(url, sep = ',')

### Step 4. Select only the Goal column.

In [4]:
goals = euro12['Goals']
goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [15]:
euro12['Team'].count()

16

### Step 6. What is the number of columns in the dataset?

In [10]:
euro12.shape[1]

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [5]:
columns = ['Team', 'Yellow Cards', 'Red Cards']
discipline = pd.DataFrame(euro12, columns = columns)
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [6]:
discipline_sorted = discipline.sort_values(by = ['Red Cards', 'Yellow Cards'])
discipline_sorted.reset_index(drop = True)

                   Team  Yellow Cards  Red Cards
0               Denmark             4          0
1               Germany             4          0
2               England             5          0
3           Netherlands             5          0
4               Ukraine             5          0
5                France             6          0
6                Russia             6          0
7        Czech Republic             7          0
8                Sweden             7          0
9               Croatia             9          0
10                Spain            11          0
11             Portugal            12          0
12                Italy            16          0
13  Republic of Ireland             6          1
14               Poland             7          1
15               Greece             9          1

### Step 9. Calculate the mean Yellow Cards given per Team

In [11]:
discipline_sorted["Yellow Cards"].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [8]:
team_goal = euro12[euro12['Goals'] > 6]
team_goal.reset_index(drop = True)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
1,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Step 11. Select the teams that start with G

In [12]:
teams = pd.Series(euro12[euro12['Team'].map(lambda x: x[0] == 'G')]['Team'])      
teams.reset_index(drop = True)

0    Germany
1     Greece
Name: Team, dtype: object

### Step 12. Select the first 7 columns

In [13]:
euro12.iloc[:,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

### Step 13. Select all columns except the last 3.

In [7]:
euro12.iloc[0:0,0:-3]

Empty DataFrame
Columns: [Team, Goals, Shots on target, Shots off target, Shooting Accuracy, % Goals-to-shots, Total shots (inc. Blocked), Hit Woodwork, Penalty goals, Penalties not scored, Headed goals, Passes, Passes completed, Passing Accuracy, Touches, Crosses, Dribbles, Corners Taken, Tackles, Clearances, Interceptions, Clearances off line, Clean Sheets, Blocks, Goals conceded, Saves made, Saves-to-shots ratio, Fouls Won, Fouls Conceded, Offsides, Yellow Cards, Red Cards]
Index: []

[0 rows x 32 columns]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [9]:
team_shoot = pd.DataFrame(euro12, columns = ['Team', 'Shooting Accuracy'])
team_shoot = team_shoot[(team_shoot['Team'] == 'Russia') | (team_shoot['Team'] == 'England') | (team_shoot['Team'] == 'Italy')]
team_shoot.reset_index(drop = True)

      Team Shooting Accuracy
0  England             50.0%
1    Italy             43.0%
2   Russia             22.5%